## Exploration of dataset:

In [1]:
# Load data
import pandas as pd
data = pd.read_csv('train.csv')

# Check size of dataset
data.shape

(9800, 18)

In [2]:
# Quick view of data
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [3]:
# Column count and column labels
print(f'Number of columns: {len(data.columns)}')
data.columns

Number of columns: 18

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [4]:
# Reshape of column labels to a standardized format (this column names will be used in the DB model)
formatter = lambda x: x.replace(" ", "_").replace("-", "_").lower()
cols = [formatter(col) for col in data.columns]
print(cols)

['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales']

In [5]:
# Build column mapper to rename columns (first transformation in pipeline)
dict = {old_name: new_name for old_name, new_name in zip(data.columns, cols)}
dict

{'Row ID': 'row_id',
 'Order ID': 'order_id',
 'Order Date': 'order_date',
 'Ship Date': 'ship_date',
 'Ship Mode': 'ship_mode',
 'Customer ID': 'customer_id',
 'Customer Name': 'customer_name',
 'Segment': 'segment',
 'Country': 'country',
 'City': 'city',
 'State': 'state',
 'Postal Code': 'postal_code',
 'Region': 'region',
 'Product ID': 'product_id',
 'Category': 'category',
 'Sub-Category': 'sub_category',
 'Product Name': 'product_name',
 'Sales': 'sales'}

In [6]:
data.rename(columns=dict, inplace=True)
data.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [7]:
# Drop row_id column
data.drop(columns='row_id', inplace=True)

In [8]:
# Check missing values
data.isna().sum()

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_id       0
customer_name     0
segment           0
country           0
city              0
state             0
postal_code      11
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
dtype: int64

In [9]:
# Drop missing values
data.dropna(inplace=True)
data.isna().sum()

order_id         0
order_date       0
ship_date        0
ship_mode        0
customer_id      0
customer_name    0
segment          0
country          0
city             0
state            0
postal_code      0
region           0
product_id       0
category         0
sub_category     0
product_name     0
sales            0
dtype: int64

In [10]:
# Check data types
data.dtypes

order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postal_code      float64
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales            float64
dtype: object

In [11]:
# Convert datetime cols to datetime object
date_cols = ['order_date', 'ship_date']
for col in date_cols:
    data[col] = pd.to_datetime(data[col])

In [12]:
# Convert integer variables to int32 type (postal_code)
data['postal_code'] = data['postal_code'].astype('int')
data.head()

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
0,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [13]:
# Check amount of unique values. Important to consider which columns can be encoded as categories
unique_counts = pd.DataFrame.from_records([(col, data[col].nunique()) for col in data.columns],
                          columns=['Column_Name', 'Uniques']).sort_values(by=['Uniques'])
unique_counts

      Column_Name  Uniques
7         country        1
6         segment        3
13       category        3
3       ship_mode        4
11         region        4
14   sub_category       17
9           state       48
8            city      529
10    postal_code      626
4     customer_id      793
5   customer_name      793
1      order_date     1229
2       ship_date     1326
15   product_name     1848
12     product_id     1860
0        order_id     4916
16          sales     5750

Based on the previous distribution, Category data type will be used for Country, Segment, Category, Ship Mode, Region columns

In [14]:
cols = ['country', 'segment', 'category', 'ship_mode', 'region']
for col in cols:
    print(f'"{col}": {data[col].unique()}')

"country": ['United States']
"segment": ['Consumer' 'Corporate' 'Home Office']
"category": ['Furniture' 'Office Supplies' 'Technology']
"ship_mode": ['Second Class' 'Standard Class' 'First Class' 'Same Day']
"region": ['South' 'West' 'Central' 'East']

In [15]:
# Get max length of columns to optimize storage in db
string_cols = ['order_id', 'customer_id', 'customer_name', 'city', 'state',
'product_id', 'sub_category', 'product_name']

lengths = pd.DataFrame()
for col in string_cols:
    lengths[col] = data[col].apply(len)
lengths.max(axis=0)

order_id          14
customer_id        8
customer_name     22
city              17
state             20
product_id        15
sub_category      11
product_name     127
dtype: int64

To give space for potentially increasing lengths of variables, all of the fields will be restricted to up to 20 characters, except for `customer_name` that will be allowed up to 50 chars, and `product_name` up to 150 chars.